/* -----------------------------------
  CTA (Call to Action) SECCIÓN
----------------------------------- */
.cta .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}